.input{
    width: 280px;
    height: 40px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #ffffff12;
    color: #FFFFFF;
    padding: 0 12px 0 12px;
    border-radius: 10px;
    margin: 0 0 10px 0;
}
.input:hover{
    border: 2px solid #BB86FC;
}